.container {
    display: flex;
    justify-content: center;
}

#grid {
    flex-direction: column;
}

.column {
    display: flex;
}

.cell {
    border: 1px solid black;
    padding: 8px;
}

.on {
    background-color: blueviolet;
    width: 18px;
    height: 18px;
}