.container {
    display: flex;
    justify-content: center;
}

#grid {
    flex-direction: column;
    margin-top: 5%;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
}

.on {
    background-color: blueviolet;
}

#changeSizeBtn {
    margin-top: 5%;
}